.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 50px;
}
.header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
}
.header .div1{
    align-content: center;
}
.header .div1:hover {
    border: solid black 5px;
}

.sub-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 50px;
    background-color: #f4f;
}